body {
	background: #EEEEEE;
	margin: 0;
	padding: 8px;
	font-family: Verdana;
	font-size: 0.9em;

}
#main {
	width: 1500px;
	height: 900px;
	margin: 0 auto;
	
	
	background-color: #bcc34a00;

}
.portalName{
	margin-left: -70px;
	color: #101b9d;
    font-size: 30px;
    padding-left: -30px;
    display: inline-block;
    white-space: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    vertical-align:20px;
    padding-top: 3px;
    margin-top: 20px;

}
#head {
	height: 120 px;
	background:#0b577a;
	color: #fff;
}
#head h1{
	margin: 0;
	padding: 5px 17px;
	font-family: "Time New Roman";
	font-size: 1.3em;
}
#head h2{
	margin: 0;
	padding: 5px 15px;
	font-family: "Time New Roman";
	font-size: 1.3em;
}
#head h3{
	margin: 0;
	padding: 5px 15px;
	font-family: "Time New Roman";
	font-size: 1.3em;
}
#menutop {
	height: 40px;
	background: #036ea0;
	color: #fff;
}
#menutop ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#menutop ul li a{
	float: left;
	font-size: 18px;
	text-decoration: none;
	color: white;
	padding: 10px 130px;
	font-weight: bold;
}
#
#maincontent{

	padding: 500px 1400px;
	width: 100%;
}
#content{
	float: left;
	
}
#right {
	float: right;
	margin-right: -100%;
	width: 300px;
	background: #fff;

}
#footer {
	clear: both;
	background: #144d68;
	color: white;

}
#feeback{
	background: #ebebeb;
    padding: 1px 3px 1px !important;
    width: 1500px;
}
#f1{
	width: 1500px;
	height: 900px;
	margin: 0 auto;
}
#id span {
	padding-left: 10px;
    padding: 10px;
    margin: 20px;
}
.like{
	padding-top: 15px
		width: 124px;
		height: 80px;
		float: left;
		color: #34B67A;
		margin-top: 15px;
		margin-left: 15px;
}