*{
	margin: 0;
	padding: 0;
}
body{

}
#tt{
	margin-top: 5px;
	margin-bottom: 5px;
}
#left{
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	height: 500px;
	width: auto;
	border: 1px solid #000000;

}